In [ ]:
# Took this from salary calculation problem : 32*12 = 384
# Triying to improvise it with adding income tax and other layers

## 1. Calculating Gross salary

CTC = Direct benefits+ Indirect benefits+Savings Contributions
Cost to company = Gross salary + Benefits

In [2]:
ctc = int(input("Input CTC :"))
BP = (61.1776701503951/100)*ctc
DA = 1/10*BP # Dearness Allowance 
HRA = 2/10*BP
CA  = (2.5/100)*BP #Conveyence Allowances 
EA = (2.5/100)*BP #Entertainment Allowance 
OA = (2.5/100)*BP #Overime Allowance 
MR = 3.125/100*BP # Medical reiumbursements 

Allowances = DA+HRA+OA+MR+CA+EA
print("Allowances:",Allowances)

Input CTC :320000
Allowances: 79530.97119551364

## 2. Calculating Benefits

2. Benefits: 
Medical Insurance : 2000
PF : 12% basic 
laptop : 50,000
Total Benefits : MI+PF+L

In [3]:
MI = 2000
PF = 12/100*BP #12% of BP 
L = 50000
TB = MI+PF+L
print("Total Benefits:",TB)

Total Benefits: 75492.22533775172

## The above two combined

In [25]:
ctc = int(input("Input CTC :"))
BP = round((61.1776701503951/100)*ctc)
DA = round(1/10*BP) # Dearness Allowance 
HRA = round(2/10*BP)
CA  = round((2.5/100)*BP) #Conveyence Allowances 
EA = round((2.5/100)*BP) #Entertainment Allowance 
OA = round((2.5/100)*BP) #Overime Allowance 
MR = round(3.125/100*BP) # Medical reiumbursements 

Al = DA+HRA+OA+MR+CA+EA
GS = BP+Al

MI = 2000
PF = round(12/100*BP) #12% of BP 
L = 50000
TB = MI+PF+L
print("Basic Pay:",BP)
print("Allowances:",Al) 
print("Gross Salary:",GS)
print("Total Benefits:",TB)

Input CTC :1000000
Basic Pay: 611777
Allowances: 248533
Gross Salary: 860310
Total Benefits: 125413

3. Income from other sources

## 3. Adding income from other sources

In [26]:
# Many persons will have income from other sources also, so including it. 

ios = int(input("Enter income from other sources(If no income from other sources enter 0.):"))
TI = GS+ios
print("Taxable Income:",TI)

Enter income from other sources(If no income from other sources enter 0.):500000
Taxable Income: 1360310

## 4.  Details

In [35]:
# Specifiying the year of tax will be better 
print("FY 2022-2023(Latest Budget):Return to be filed between 1.4.23-31.3.2024")
print("FY 2021-2022(Latest Budget):Return to be filed between 1.4.22-31.3.2023")
year = input("Which Financial year do you want to calculate taxes for 2022 or 2021?")

FY 2022-2023(Latest Budget):Return to be filed between 1.4.23-31.3.2024
FY 2021-2022(Latest Budget):Return to be filed between 1.4.22-31.3.2023
Which Financial year do you want to calculate taxes for 2022 or 2021?2021

In [4]:
#Tax liablility differs across age groups in india 
age = input("Enter your age:")

Enter your age:24

## 5. Income tax calculation

Income Tax slab: New Regime Income Tax Slab Rates FY 2021-22 
(Applicable for all individuals & HUF )

In [7]:
#Under new tax regime 2021-22 
# Creating Tax slabs 

if TI<=250000:
    tax = 0 
elif 250000<TI<=500000:
    tax = 0.05*(TI)
elif 500000<TI<=750000:
    tax = 0.1*(TI)
elif 750000<TI<=1000000:
    tax = (15/100)*TI
elif 1000000<TI<=1250000:
    tax = (20/100)*TI
elif 1250000<TI<=1500000:
    tax = (1/4)*TI
else:
    tax = (30/100)*TI
print(tax)

212062.0

## 6. Tax Slabs as per regimes

In [62]:
# For old tax regime, age matters. 
# Indians can choose to pay taxes in old or new regimes. 
#So lets ask them if they want new tax regimes or the old ones.

In [34]:
Ques = input("Your tax to be calculated under new/old regime:")
if Ques.lower() == "new":
    if TI<=250000:
        tax = 0 
    elif 250000<TI<=500000:
        tax = 0.05*(TI)
    elif 500000<TI<=750000:
        tax = 0.1*(TI)
    elif 750000<TI<=1000000:
        tax = (15/100)*TI
    elif 1000000<TI<=1250000:
        tax = (20/100)*TI
    elif 1250000<TI<=1500000:
        tax = (1/4)*TI
    else:
        tax = (30/100)*TI
elif Ques.lower() == "old":
    age = int(input("Enter your age:")) #In old regime age matters 
    if age<=60:
        if TI<=250000:
            tax = 0 
        elif 250000<TI<=500000:
            tax = 0.05*(TI)
        elif 500000<TI<=1000000:
            tax = (20/100)*(TI)
        else:
            tax = (30/100)*TI 
    elif 60<age<=80:
        if TI<=300000:
            tax = 0 
        elif 300000<TI<=500000:
            tax = 0.04*(TI)
        elif 500000<TI<=1000000:
            tax = (20/100)*(TI)
        else:
            tax = (30/100)*TI
    else:
        if TI<=500000:
            tax = 0 
        elif 500000<TI<=1000000:
            tax = (20/100)*(TI)
        else:
            tax = (30/100)*TI
print(tax)

Your tax to be calculated under new/old regime:old
Enter your age:68
408093.0
408093.0

## 7. Income Tax Deductions

In [14]:
#Assuming medical insurance premium as 15000 per year 
#Including HRA, EPF, Medical insurance in tax deductions 
d = input("Do you want to claim any deductions?")
if d.lower() == "yes":
    EPF = 12/100*(BP+DA)
    medins = 15000
    taxD = tax-(medins+EPF+HRA)
    print("Taxable income after deductions",taxD)

Do you want to claim any deductions?YES
Taxable income after deductions 14262.919999999984

## Income Tax Calculator

In [57]:
# Specifiying the year of tax will be better 
#Tax liablility differs across age groups in india 
name = input("Please enter your name:")
age = int(input("Enter your age:"))
#CTC Break up 
ctc = int(input("Input CTC :"))
BP = round((61.1776701503951/100)*ctc)
DA = round(1/10*BP) # Dearness Allowance 
HRA = round(2/10*BP)
CA  = round((2.5/100)*BP) #Conveyence Allowances 
EA = round((2.5/100)*BP) #Entertainment Allowance 
OA = round((2.5/100)*BP) #Overime Allowance 
MR = round(3.125/100*BP) # Medical reiumbursements 
Al = DA+HRA+OA+MR+CA+EA
GS = BP+Al
print(GS)
EPF = 12/100*(BP+DA)
MI = 2000
PF = round(12/100*BP) #12% of BP 
L = 50000
TB = MI+PF+L
# Many persons will have income from other sources also, so including it. 
ios = int(input("Enter income from other sources(If no income from other sources enter 0.):"))
TTI = GS+ios
TI = TTI-(HRA+EPF) #Deducting EPF and HRA from tax for old regime  
while True:
    #This is under new regime 
    if TTI<=250000:
        ts = "<2.5L"
        taxn = 0
    elif 250000<TTI<=500000:
        ts = "2.5L-5L"
        taxn = 0.05*(TTI)
    elif 500000<TTI<=750000:
        ts = "5L-7.5L"
        taxn = 0.1*(TTI)
    elif 750000<TTI<=1000000:
        ts = "7.5L-10L"
        taxn = (15/100)*TTI
    elif 1000000<TTI<=1250000:
        ts = "10L-12.5L"
        taxn = (20/100)*TTI
    elif 1250000<TTI<=1500000:
        ts = "12.5L-15L"
        taxn = (1/4)*TTI
    else:
        ts = ">15L"
        taxn = (30/100)*TTI
    #This is under old regime   
    if age<=60:
        if TI<=250000:
            taxo = 0
            break
        elif 250000<TI<=500000:
            taxo = 0.05*(TI)
            break
        elif 500000<TI<=1000000:
            taxo = (20/100)*(TI)
            break
        else:
            taxo = (30/100)*TI 
            break
    elif 60<age<=80:
        if TI<=300000:
            taxo = 0 
            break
        elif 300000<TI<=500000:
            taxo = 0.04*(TI)
            break
        elif 500000<TI<=1000000:
            taxo = (20/100)*(TI)
            break
        else:
            taxo = (30/100)*TI
            break
    else:
        if TI<=500000:
            taxo = 0 
            break
        elif 500000<TI<=1000000:
            taxo = (20/100)*(TI)
            break
        else:
            taxo = (30/100)*TI
            break
        hp = int(input("Enter health premium per annum:"))
        inv_80c = int(input("Enter investment under 80c:"))
        nps = int(input("Enter investment in NPS:"))
        if hp<=25000:
            TI = TI-hp
            continue
        else:
            TI = TI-25000
            continue
        if inv_80c <= (150000-EPF):
            TI = TI-inv_80c
            continue
        else:
            TI = TI-(150000-EPF)
            continue
        if nps <= 50000:
            TI = TI-nps
            continue
        else:
            TI = TI-50000
            continue
print("Your Report")    
df = pd.DataFrame({"Name": name,"Age": age,"CTC": ctc,"Gross Total Income":TTI,
                  "Deductons(HRA,EPF)":[HRA+EPF,"-"],"Taxable Income":[TI,TTI],
                   "Tax Slab":ts,
                   "Tax Due on above":[taxo,taxn]},
                  index=["Old Regime","New Regime"])
dft = df.T
dft.style.set_properties(**{'background-color': 'black','color': 'white'})

Please enter your name:Sree Kavya Durbaka
Enter your age:62
Input CTC :2000000
1720622
Enter income from other sources(If no income from other sources enter 0.):0
Your Report

Duplicated

## Income Tax calculator with exception handling

In [91]:
try:
    name = input("Please enter your name:")
    age = int(input("Enter your age:"))

    #CTC Break up 
    ctc = int(input("Input CTC :"))
    BP = round((61.1776701503951/100)*ctc)
    DA = round(1/10*BP) # Dearness Allowance 
    HRA = round(2/10*BP)
    CA  = round((2.5/100)*BP) #Conveyence Allowances 
    EA = round((2.5/100)*BP) #Entertainment Allowance 
    OA = round((2.5/100)*BP) #Overime Allowance 
    MR = round(3.125/100*BP) # Medical reiumbursements 
    Al = DA+HRA+OA+MR+CA+EA
    GS = BP+Al
    EPF = 12/100*(BP+DA)
    MI = 2000
    PF = round(12/100*BP) #12% of BP 
    L = 50000
    TB = MI+PF+L

    # Many persons will have income from other sources also, so including it. 
    ios = int(input("Enter income from other sources(If no income from other sources enter 0.):"))
    TTI = GS+ios
    TI = TTI-(HRA+EPF) #Deducting EPF and HRA from tax for old regime  

    count = 0 
    while True:

        #This is under new regime 
        if TTI<=250000:
            ts = "<2.5L"
            taxn = 0
        elif 250000<TTI<=500000:
            ts = "2.5L-5L"
            taxn = 0.05*(TTI)
        elif 500000<TTI<=750000:
            ts = "5L-7.5L"
            taxn = 0.1*(TTI)
        elif 750000<TTI<=1000000:
            ts = "7.5L-10L"
            taxn = (15/100)*TTI
        elif 1000000<TTI<=1250000:
            ts = "10L-12.5L"
            taxn = (20/100)*TTI
        elif 1250000<TTI<=1500000:
            ts = "12.5L-15L"
            taxn = (1/4)*TTI
        else:
            ts = ">15L"
            taxn = (30/100)*TTI

        #This is under old regime   
        if age<=60:
            if TI<=250000:
                taxo = 0

            elif 250000<TI<=500000:
                taxo = 0.05*(TI)

            elif 500000<TI<=1000000:
                taxo = (20/100)*(TI)

            else:
                taxo = (30/100)*TI 

        elif 60<age<=80:
            if TI<=300000:
                taxo = 0 

            elif 300000<TI<=500000:
                taxo = 0.04*(TI)

            elif 500000<TI<=1000000:
                taxo = (20/100)*(TI)

            else:
                taxo = (30/100)*TI

        else:
            if TI<=500000:
                taxo = 0 

            elif 500000<TI<=1000000:
                taxo = (20/100)*(TI)

            else:
                taxo = (30/100)*TI

        df = pd.DataFrame({"Name": name,"Age": age,"CTC": ctc,"Gross Total Income":TTI,
                            "Deductons(HRA,EPF)":[HRA+EPF,"-"],"Taxable Income":[TI,TTI],
                            "Tax Due on above":[taxo,taxn]},
                            index=["Old Regime","New Regime"])
        dft = df.T

        count = count+1   
        if count ==2:
              break
        elif count<2:

            ques = input("Do you have any investemtns(yes/no)?")
            if ques.lower() == "yes":
                hp = int(input("Enter health premium per annum:"))
                inv_80c = int(input("Enter investment under 80c:"))
                nps = int(input("Enter investment in NPS:"))

                if hp<=25000:
                    TI = TI-hp
                    continue
                else:
                    TI = TI-25000
                    continue
                if inv_80c <= (150000-EPF):
                    TI = TI-inv_80c
                    continue
                else:
                    TI = TI-(150000-EPF)
                    continue
                if nps <= 50000:
                    TI = TI-nps
                    continue
                else:
                    TI = TI-50000
                    continue


    print("YOUR TAX REPORT:")
    print(dft)

except:
    print("Please give valid input")

Please enter your name:Sree Kavya Durbaka
Enter your age:24
Input CTC :1500000
Enter income from other sources(If no income from other sources enter 0.):0
Do you have any investemtns(yes/no)?no
YOUR TAX REPORT:
                            Old Regime          New Regime
Name                Sree Kavya Durbaka  Sree Kavya Durbaka
Age                                 24                  24
CTC                            1500000             1500000
Gross Total Income             1290467             1290467
Deductons(HRA,EPF)           304664.72                   -
Taxable Income               985802.28           1290467.0
Tax Due on above            197160.456           322616.75

In [ ]:
print("Tax Regime suggestion:")
if taxo<taxn:
    print("Choose Old Tax Regime")
else:
    print("Choose New Tax Regime")

## Adding Investment declarations

In [59]:
hp = int(input("Enter health premium per annum:"))
inv_80c = int(input("Enter investment under 80c:"))
nps = int(input("Enter investment in NPS:"))
if hp<=25000:
    TI = TI-hp
else:
    TI = TI-25000
if inv_80c <= (150000-EPF):
    TI = TI-inv_80c
else:
    TI = TI-(150000-EPF)
if nps <= 50000:
    TI = TI-nps
else:
    TI = TI-50000
TI

Enter health premium per annum:20000
Enter investment under 80c:100000
Enter investment in NPS:20000

1267419.96

In [ ]:
# I want this result in a data frame 
# I want to improvise it further by adding 2/3 investment suggestions.

In [90]:
print("Your report")
df = pd.DataFrame({"Name": name,"Age": age,"Tax": tax},index=["1"])

df.style.set_properties(**{'background-color': 'black','color': 'white'})

Your report
<pandas.io.formats.style.Styler object at 0x000001C0A1A13340>
A